main/pointsCEs/*.txt
latex/*.aux
latex/*.fdb_latexmk
latex/*.fls
latex/*.log
latex/*.out
latex/*.gz

latex/diapo/*.aux
latex/diapo/*.fdb_latexmk
latex/diapo/*.fls
latex/diapo/*.log
latex/diapo/*.out
latex/diapo/*.gz
latex/diapo/*.nav
latex/diapo/*.snm
latex/diapo/*.toc
latex/diapo/*.vrb
latex/diapo/*.synctex(busy)


crack/*.pyc

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
